:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.sonner-toast[data-type="success"] {
  background: var(--mui-palette-success-main, #4caf50) !important;
  color: var(--mui-palette-success-contrastText, #fff) !important;
}
.sonner-toast[data-type="error"] {
  background: var(--mui-palette-error-main, #f44336) !important;
  color: var(--mui-palette-error-contrastText, #fff) !important;
}
.sonner-toast[data-type="warning"] {
  background: var(--mui-palette-warning-main, #ff9800) !important;
  color: var(--mui-palette-warning-contrastText, #fff) !important;
}
.sonner-toast[data-type="info"] {
  background: var(--mui-palette-info-main, #2196f3) !important;
  color: var(--mui-palette-info-contrastText, #fff) !important;
}
